
body {
    padding-top: 4%;
    font-family: Roboto,sans-serif;
    /*    font-family: Roboto !important;
        font-size: 8pt !important;
        font-weight: 200 !important;*/
    background-color: #F4F4F4;
}


#vandaag{
    height:610px;
}
h1{
    padding-bottom:1em;
    padding-top:1em;
}


.artikel{
    width:300px;
}
.foto{
    width:300px;
    height:200px;
    background-color:lightgray;
}


.artikel-content{
    background-color:#FFFFFF;
    padding:1em 2em;
    text-align:center;
}

.rechts{
    float:right;
    padding:1em;
    color:orange;
    text-decoration: underline;
}

a{
    color:#000000;
}

a:hover{
    color:#1C9B48;
}

.container{
    margin-top:3%;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
}


.jumbotron h1, .jumbotron p{
    text-align:center;
    color:#FFFFFF;

}

.jumbotron{
    background-image: url("../../public/images/hpfoto.jpeg");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color:#000000;
}

.btn{
    color:#FFFFFF;
}

.bg-dark{
    background-color:#000000!important;
}



.row.categorie{
    background-color:#1C9B48;
    padding:60px 20px 60px 20px;
    text-align:center;
    color:white;
}

.bg-orange{
    background-color: #E69723;
}
.orange{
    color:#E69723;
}


/*------------- ICONS -------------*/



.all-icons {
    text-align: center;
}

.icon-wrapper {
    color: white;
    display: inline-block;
    padding: 2rem;
    margin: 2rem 0;
}

.icon-wrapper h3,
.icon-wrapper p {
    text-align: center;
    color: white;
}

#categorie{

    padding: 6rem 0;
    background-color:#1C9B48;
}

#categorie h4{
    color:#FFFFFF;
}

a:hover{
    text-decoration: none;
}


/*------------- ZOEKVELD -------------*/


#zoekveld{
    height:400px;
    margin-top:6em;
    text-align:center;
}

#zoekveld h1{
    text-align:center;

}

.textfield_form{
    width:900px!important;
    padding:20px;

}

.btn-lg{
    padding: 1.2rem 3rem;
}


/*------------- MUNCHIE -------------*/
.munchie-foto{
    height:400px;
    width:55%;
    background-color:gray;
    display:inline-block;
}

.munchie-content{
    height:400px;
    background-color:white;
    display:inline-block;
    width:44%;
    padding-left:150px;
    padding-top:5em;
    vertical-align:top;
}

.green{
    color:#1C9B48;
}

/*------------- PROFIEL -------------*/
.profiel-foto{
    height:280px;
    width:20%;
    background-color:gray;
    display:inline-block;
}

.profiel-content{
    height:280px;
    background-color:white;
    display:inline-block;
    width:78%;
    padding-left:150px;
    padding-top:5em;
    vertical-align:top;
}






